nav {
  margin-top: 2em;
}

footer ul, #prototypes {
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline;
  margin: 0 .5em;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: inherit;
  border-top: .1em solid #d5d5d5;
  padding: .75em 0;
  height: 4em;
  background-color: white;
}

#prototypes {
  margin-bottom: 5em;
}

#prototypes li {
  margin: 2em 0;
}

#blurb {
  padding: .5em 0;
  margin-bottom: 4em;
}

.section {
  margin: 3em 0;
}

.section:first-child, #prototypes li:first-child {
  margin-top: 0;
}

.section:last-child, #prototypes li:last-child  {
  margin-bottom: 0;
}

.section h3 {
  margin-bottom: 1em;
}

.subsection {
  margin-bottom: 2em;
}

.bio {
  margin-bottom: 2.5em;
}

#prototypes {
  margin-bottom: 5em;
}

.img-circle {
  margin-top: -.25em;
}

.biopic {
  width: 100px;
  height: 100px;
}

.radar-chart {
  width: 300px;
  width: 300px;
}

#dashboard {
  width: 1024px;
  height: 768px;
}

#map {
  width: 600px;
}

#reserved {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: .1em dashed #777;
  padding: .75em;
  text-align: center;
}

img#avatar {
  height: 100px;
  width: 100px;
  float: right;
}

div#author {
  padding: .5em 0;
}

ul#links {
  padding: 0;
  list-style-type: none;
}

ul#links li {
  display: inline;
  margin: 0 1em;
}

ul#links li:first-child {
  margin-left: 0;
}

ul#links li:last-child {
  margin-right: 0;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.stop-left {
  stop-color: #17becf;
}

.stop-right {
  stop-color: #e377c2;
}

.plane-active {
  stroke: DarkGray !important;
  stroke-width: 85 !important;
}

.text-dom {
  fill: #17becf;
}

.text-intl {
  fill: #e377c2;
}

.map-active {
  stroke: red !important;
  stroke-width: 2 !important;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
